<div class="credentials">
  <div><b>username: admin</b> </div>
  <div><b>password: admin123</b></div>
</div>

<form [formGroup]="loginForm">
  <div class="header">Login to your account</div>

  <mat-form-field>
    <input matInput type="text" id="userName" placeholder="UserName" autocomplete="off" formControlName="userName"
      required />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" id="password" placeholder="Password" autocomplete="off" formControlName="password"
      required />
  </mat-form-field>

  <div class="actions">
    <button mat-flat-button color="primary" type="submit" (click)="login()" [disabled]="!loginForm.valid">
      Login
    </button>
  </div>
</form>
